#completar {
    transition: all 500ms ease-in-out;
    /* background-color: aliceblue; */
}

#completar:hover {
    background-color: rgb(54, 175, 54);
    transition: all 500ms ease-in-out;
}

#eliminar:hover {
    background-color: rgb(248, 116, 116);
    transition: all 500ms ease-in-out;
}

#eliminar {
    transition: all 500ms ease-in-out;
}

.completada {
    text-decoration: line-through;
}

.noCompletada {
    text-decoration: none;
}

.containerTarea {
    /* border: black solid 1px; */
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(38, 57, 77, 0.7) 0px 20px 30px -10px;
    transition: all 1s ease-in-out;
    background-color: rgb(249, 164, 164);
}

.containerTareaCompletada {
    transition: all 1s ease-in-out;
    /* background-image: linear-gradient(to left, #6eaf71, #70d28a); */
    background-color: rgb(79, 208, 79);
}

/*