#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  background-color: linear-gradient(to left, #aa58ed);
  background-size: 400%;
  animation: cambiarColor 2s ease-in alternate infinite;

}

@keyframes cambiarColor {
  0% {
    background-position: 25% 50%;
  }

  100% {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px;
  background-color: #2e518b;
  color: #add0e9;
  text-transform: uppercase;
  border-radius: 50px;
  margin: 10px;
  border: none;
}

input {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none
}